{{!< layout}}
<div class="aui-group sidebar">
    <div class="aui-item">
      Sorry, there has been an error. Hopefully this error message helps:
      <span class="error message">{{error}}</span>
    </div>
</div>
