$bablue: #0077c6;
$babluelight: #47B7E3;
$bagray: #d8d1ca;
$baorange: #F6A716;

@font-face {
  font-family: Etica;
  src: url(../LFT_Etica_Bold.otf);
}

/* add-on styles */
.intro-header h1 {
  font-size: 65px;
  line-height: 60px;
  padding-top: 20px;
}
.intro-header p.subtitle {
  font-size: 24px;
  line-height: 30px;
  padding-bottom: 20px;
}
.main-panel .aui-page-panel-item {
  padding: 20px 40px 20px 0;
  height: 100px;
}

body {
  height:100%;
  background-color: $bablue;
}

h3 {
  font-size: 20px;
  margin: 0 0 0 10px;
  font-family: Etica;
  color: #FFF;
}

img.logo {
  padding: 15px;
  width: 140px;
}

.sidebar {
  margin: 10px 0;
}

.skel-container .skel-title {
  font-size: 15px;
  line-height: 35px;
  padding-left: 18px;
  font-family: Etica, sans-serif;
  color: #FFF;
  display: block;
  -webkit-transition: all .1s ease-in;
  -moz-transition: all .1s ease-in;
  -ms-transition: all .1s ease-in;
  -o-transition: all .1s ease-in;
  transition: all .1s ease-in;
  letter-spacing: 1px;

  &:hover {
    background-color: #007fce;
    cursor: pointer;
    font-size: 18px;
  }
}

.button-container {
  display: block;
  margin: 3px 5px 3px 0px;
}

.btn, .aui-button {
  font-size: 10px;
  border: none;
  border-radius: 2px;
  color: #FFF;
  text-transform: uppercase;
  transition: .2s ease-out;
  margin-right: 3px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  width: 60px;
  height: 25px;
  margin-bottom: 5px;

  &:hover {
    cursor: pointer;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  }
}

.history-button {
  background-color: $baorange;
}

.deploy-button {
  background-color: $babluelight;
}

.active, .skel-details {
  background-color: #FFF;

  &.skel-container .skel-title {
    font-size: 18px;
    color: #FFF;
    letter-spacing: 1px;
    background-color: $bablue;
    padding-left: 32px;
  }
}

.skel-details {
  padding: 10px 0 5px 20px;
}
.skel-details .environment-wrapper {
  margin-bottom: 10px;
}
.skel-details span.environment {
  margin: 0 5px;
  transition: all .2s ease;
  &.active {
    color: $bablue;
  }
}

/* modal */
.deploy-modal {
  padding: 40px 20px 20px 20px;
  text-align: center;
}

#info-callout {
  color: white;

  span {
    display: inline-block;
    font-size: 20px;
    &.skel-name {
      margin-top: 20px;
    }
  }
}

#deploy-form {
  margin-top: 20px;

  input {
    background: $bablue;
    color: white;
    border: none;
    border-bottom: 2px white solid;
    &::-webkit-input-placeholder {  color: white;  }
    &:-moz-placeholder { color: white;  }
    &::-moz-placeholder { color: white; }
    &:-ms-input-placeholder {  color: white;  }
    &:focus {
      outline: none;
    }
  }
}

